.bg-color-mid {
  background-color: #1d2529;
}

.bg-color-light {
  background-color: #1d2529;
}

.bg-color-dark {
  background-color: #1d2529;
}

table.dataTable td {
  max-width: 85px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dt-length {
  opacity: 40%;
}
.dt-info {
  opacity: 40%;
}
#myTable {
  text-align: center;
  max-width: 100%;
}

th {
  text-align: center !important;
}
td {
  text-align: center !important;
  vertical-align: middle !important;
}

.sorting {
  transform: translateX(0.9em);
}

.tableButton {
  width: 80px;
}
