/*global styling*/

.bg-color-mid {
  background-color: #1d2529;
}

.bg-color-light {
  background-color: #1d2529;
}

.bg-color-dark {
  background-color: #1d2529;
}

html {
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

/*table styling*/
table.dataTable td {
  max-width: 85px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dt-length {
  opacity: 40%;
}
.dt-info {
  opacity: 40%;
}
#myTable {
  text-align: center;
  max-width: 100%;
}

th {
  text-align: center !important;
}
td {
  text-align: center !important;
  vertical-align: middle !important;
}
.tearow {
  opacity: 70%;
}
.tearow:hover {
  opacity: 100%;
}
.sorting {
  transform: translateX(0.9em);
}

.tableButton {
  width: 80px;
}

.link {
  text-decoration: none;
}

/*show page styling*/
* {
  margin: 0;
  padding: 0;
}
#show {
  gap: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}
#show ul {
  list-style: none;
}
.list-group {
  background-color: #1d2529;
}
#reviews,
#reviews2 {
  border: 1px solid #495957;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}
@media (max-width: 1000px) {
  .reviewbox {
    display: none;
  }
  #show {
    flex-wrap: wrap;
  }
}
@media (min-width: 1000px) {
  .reviewbox2 {
    display: none;
  }
}
img {
  border-radius: 5px;
}
.mainImage {
  max-width: 500px;
}

/*new tea page*/
.vendorNewTea {
  display: block;
  width: 405px;
  height: 38px;
  border-radius: 5px;
}

.requiredField {
  background-color: var(--bs-secondary-bg);
}
