.bg-color-dark {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(104, 171, 124, 1) 0%,
    rgba(32, 34, 65, 1) 82%,
    rgba(29, 37, 41, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container {
  vertical-align: middle;
}
