<% layout('layouts/boilerplate') %>
<div
  class="container d-flex flex-column justify-content-md-center align-items-center h-100 mb-5 p-3"
>
  <div class="row mb-5 mt-3">
    <section class="col-md-6 px-5 d-flex justify-content-center">
      <div class="my-5 my-md-0 justify-text">
        <h2 class="text-light text-center display-5 my-4">Welcome!</h2>
        <span class="text-light text-center">
          This is a website for pu-erh tea lovers. Log in to add teas to your
          collection or search to see what has already been added!
        </span>
      </div>
    </section>
    <section class="col-md-6 px-5 d-flex flex-column justify-content-center">
      <h3 class="display-4 text-light text-center my-5 my-md-0 mb-md-5">
        Search for tea
      </h3>
      <form action="/tea/browse" method="get">
        <div>
          <div class="row-md d-flex justify-content-md-end">
            <input
              class="form-control w-lg-75"
              list="datalistOptions"
              id="search"
              placeholder="Type to search..."
              name="search"
              minlength="3"
              maxlength="20"
            />
            <datalist id="datalistOptions">
              <%for (let vendor of vendors) {%>
              <option value="<%=vendor.name%>"><%}%></option>
            </datalist>
            <button class="btn btn-success">Search</button>
          </div>
          <div class="row my-3">
            <div class="col-4"></div>
            <div class="col-6 d-flex justify-content-end">
              <label class="text-light">Search by:</label>
              <div class="ms-2 text-light">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="option"
                    id="vendor"
                    checked
                    value="vendor"
                  />
                  <label class="form-check-label" for="vendor"> Vendor </label>
                </div>
                <div class="form-check text-light">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="option"
                    id="producer"
                    value="producer"
                  />
                  <label class="form-check-label" for="producer">
                    Producer
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>
