<% layout('layouts/boilerplate') %>
<h1>Browse pu-erh</h1>

<form action="/tea/browse" method="get">
<div>
  <label for="vendor" class="form-label">By vendor:</label>
  <input
    class="form-control"
    list="datalistOptions"
    id="vendor"
    placeholder="Type to search..."
    name="vendor"
  />
  <datalist id="datalistOptions">
    <%for (let vendor of vendors) {%>
    <option value="<%=vendor.name%>"><%}%></option>
  </datalist>
<button class="btn btn-success">Search</button>
</div>
</form>
<form action="/tea/browse" method="get">
<div>
  <label for="producer" class="form-label">By producer / factory:</label>
  <input
    class="form-control"
    list="datalistOptions2"
    id="producer"
    placeholder="Type to search..."
    name="producer"
  />
  <datalist id="datalistOptions2">
    <%for (let producer of producers) {%>
    <option value="<%=producer.name%>"><%}%></option>
  </datalist>
  <button class="btn btn-success">Search</button>
</form>

</div>
