<% layout('layouts/boilerplate') %>
<form action="/tea/newProducer" method="post" enctype="multipart/form-data">
  <input type="text" name="producer" id="producer" />
  <input
    type="file"
    id="formFile"
    name="image"
    accept="image/png, image/jpeg, image/jpg"
  />
  <button>Submit</button>
</form>
