<% layout('layouts/boilerplate') %>
<form action="/tea/newVendor" method="post" novalidate class="validated-form">
  <label for="vendor">Name of vendor:</label>
  <input type="text" name="vendor" id="vendor" />

  <button>Submit</button>
</form>
