<% layout('layouts/boilerplate') %>
<form action="/tea/newVendor" method="post">
  <div class="mb-3">
    <label class="form-label" for="vendor">Add new vendor:</label>
    <input
      required
      class="form-control"
      type="text"
      id="vendor"
      name="vendor"
    />
    <div class="valid-feedback">Well done!</div>
  </div>
</form>

<form action="/tea/newProducer" method="post">
  <div class="mb-3">
    <label class="form-label" for="producer">Add new producer:</label>
    <input class="form-control" type="text" id="producer" name="producer" />
    <div class="valid-feedback">Well done!</div>
  </div>
  <button class="btn btn-success">Submit</button>
</form>
