<% layout('layouts/boilerplate') %>
<div class="text-center">
  <h1>Add a vendor</h1>
  <form
    action="/tea/newVendor"
    method="post"
    novalidate
    class="mt-5 validated-form"
  >
  <div class="d-flex justify-content-center align-items-center gap-2">
    <label for="vendor">Name of vendor:</label>
    <input type="text" name="vendor" id="vendor" class="form-control w-auto"/>
<button class="btn btn-success">Submit</button>
  </div>
  </form>
</div>
