<% layout('layouts/boilerplate') %>
<form
  action="/tea/newVendor"
  method="post"
  enctype="multipart/form-data"
  novalidate
  class="validated-form"
>
  <label for="vendor">Name of vendor:</label>
  <input type="text" name="vendor" id="vendor" />
  <label for="formFile">Upload file:</label>
  <input type="file" id="formFile" name="image" class="form-control" />
  <button>Submit</button>
</form>
